.dish-card {
  transition: all 0.3s ease;
  
  &:hover {
    .card-img-top {
      transform: scale(1.05);
    }
  }
  
  .card-img-top {
    transition: transform 0.3s ease;
    overflow: hidden;
  }
}
