.hero-section {
  min-height: auto;
  display: block;
  
  .hero-image {
    display: block;
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
  }
}

.info-card {
  .info-icon {
    display: block;
    margin-bottom: 0.75rem;
  }
}
